* {
	box-sizing: border-box;
}
h1,h2,h3,h4, ul {
	margin: 0;
}
.container {

}
}
header {
}

header ul {
	text-align: right;
	margin-right: 200px;
	list-style-type: none;
}
header ul li {
	display: inline-block;
	line-height: 80px;
	width: 100px;
}
header a {
	color: black;
	text-decoration: none;
}
header i {
	margin-right: 800px;
	font-size: 2em;
}
main a {
	text-decoration: none;
	color: #ffff;
}
main {
	background-color: #929292;
	color: #ffff;
	text-align: center;
}
.topmain h1 {

}
section i {
	color: rgba(0,0,0);
	font-size: 3em;
}
section {
    display: inline-block;
    vertical-align: top;
    width: 15%;
	background-color: #ffff;
	text-align: center;
	margin: 10 auto;
	margin-top: 100px;
	border: solid 1px;
	height: 290px;

}
section h2, section p {
	color: black;
}
footer {
	line-height: 300px;
}