.container {
	width: 80%;
	margin: 200px auto;
	background-color: #aaaa;
	height: 1000px;
}

nav i {
	margin-left: 25px;
}
article {
	margin-left: 50px;
	width: 200px;
	height: 200px;
	float: left;

}
article img {
	width: 230px;
	height: 180px;
}